.card {
  display: grid;
  grid-template-rows: 4fr 5fr;
  grid-template-columns: 100%;
  grid-template-areas: "card-image" "card-main";
  width: 250px;
  height: 450px;
  background-color: #edefee;
  border-radius: 16px 16px 0 0;
}

.card-image {
  grid-area: card-image;
  border-radius: 16px 16px 0 0;
  width: 100%;
  height: 100%;
}

.card-image img {
  border-radius: 16px 16px 0 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.card-main {
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-columns: 5fr 1fr;
  grid-template-areas:
    "card-food-name card-food-price"
    "card-food-description card-food-description"
    "card-order-delivery card-order-delivery";

  padding: 3px 10px;
}

.card-food-name {
  grid-area: card-food-name;
  display: flex;
  align-items: center;
}

.card-food-price {
  grid-area: card-food-price;
  display: flex;
  align-items: center;
}

.card-food-description {
  grid-area: card-food-description;
}

.card-food-description p {
  text-overflow: ellipsis;
}

.card-order-delivery {
  grid-area: card-order-delivery;
}
