/** Animations **/

@keyframes slideIn {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (min-width: 768px) {
  .headerContainer {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 10px;
    height: 60px;
  }

  #headerLogo {
    grid-column: col-start 2 / span 2;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #headerNav {
    grid-column: col-start 4 / span 7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }

  #headerCartIcon {
    grid-column: col-start 11 / span 1;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .headerContainer {
    display: grid;
    grid-template-columns: repeat(4, [col-start] 1fr);
    gap: 10px;
    height: 60px;
    margin: 0 auto;
  }

  #headerMenuIcon {
    grid-column: col-start 1 / span 1;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #headerLogo {
    grid-column: col-start 2 / span 2;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #headerCartIcon {
    grid-column: col-start 4 / span 1;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #headerNav {
    position: absolute;
    left: 0;
    top: 60px;
    width: 30vw;
    min-width: 200px;
    min-height: 60vh;
    max-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    /* transition: 0.3s ease-in-out transform; */
  }

  #headerNav.open {
    animation: slideIn 0.2s ease-in-out forwards;
  }
}
