.specials-container {
  /* display: grid;
  height: 800px;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 10px; */
  display: grid;
  height: 600px;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 5fr;
  grid-template-areas: "specials-top" "spcials-content";
}

.specials-container #specials-top {
  grid-area: specials-top;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 10px;
  grid-template-rows: 100%;
}

.specials-container #specials-top h1 {
  grid-column: col-start 3 / span 6;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.specials-container #specials-top #specials-top-button {
  grid-column: col-start 9 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.specials-container #specials-content {
  grid-area: spcials-content;
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  gap: 10px;
  grid-template-rows: 100%;
}

.specials-container #specials-content #specials-cards {
  grid-column: col-start 3 / span 8;
  /* background-color: antiquewhite; */
}

.specials-container #specials-content #specials-cards ul {
  list-style-type: none;
  display: grid;
  grid-template-areas: "card1 card2 card3";
  gap: 20px;
  padding-left: 0;
  margin: 0;
  overflow-x: auto;
  scroll-behavior: auto;
}

#card1 {
  grid-area: "card1";
}

#card2 {
  grid-area: "card2";
}

#card3 {
  grid-area: "card3";
}