@import url('https://fonts.googleapis.com/css?family=Karla');
@import url('https://fonts.googleapis.com/css?family=Markazi Text');

/* Fonts CSS */

/*
100	Thin (Hairline)
200	Extra Light (Ultra Light)
300	Light
400	Normal (Regular)
500	Medium
600	Semi Bold (Demi Bold)
700	Bold
800	Extra Bold (Ultra Bold)
900	Black (Heavy)
950	Extra Black (Ultra Black)
*/

:root {
  --color: #00ff00;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-extra-bold: 800;
}
/* Markazi Text */
.display_title {
  font-family: 'Markazi Text', 'Georgia', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 64px;
  font-weight: var(--font-medium);
  margin-top: 15px;
  margin-bottom: 0;
}

.subtitle {
  font-family: 'Markazi Text', 'Georgia', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 40px;
  font-weight: var(--font-regular);
  margin-top: 0;
  margin-bottom: 0;
}

/* Karla */
.lead_text {
  font-family: 'Karla', 'Georgia', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: var(--font-medium);
  margin-top: 5px;
  margin-bottom: 5px;
}

.section_title {
  font-family: 'Karla', 'Georgia', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
  font-weight: var(--font-extra-bold);
  text-transform: uppercase;
}

.section_categories {
  font-family: 'Karla', 'Georgia', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: var(--font-extra-bold);
}

.card_title {
  font-family: 'Karla', 'Georgia', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: var(--font-bold);
}

.paragraph_text {
  font-family: 'Karla', 'Georgia', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: var(--font-regular);
  /* height: 1.5lh; */
  max-width: 65ch;
}

.highlight_text {
  font-family: 'Karla', 'Georgia', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: var(--font-bold);
  color: #EE9972;
}

/*
Button1 CSS
*/
.button1-container {
  display: inline-block;
  background-color: #F4CE14;
  width: 120px;
  height: 30px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.button-link {
  display: block;
  width: fit-content;
  text-decoration: none;
}

/*
Chicago CSS
*/
.chicago {
  height: 400px;
  background-color: #FBDABB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chicago h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

/*
Menu CSS
*/
.menu {
  height: 400px;
  background-color: #FBDABB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

/*
OnlineOrder CSS
*/
.online_order_container {
  height: 400px;
  background-color: #FBDABB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.online_order_container h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

/*
Login CSS
*/
.login_container {
  height: 400px;
  background-color: #FBDABB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login_container h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}

/*
ConfirmedBooking CSS
*/
.confirmed-booking {
  height: 400px;
  background-color: #FBDABB;
  display: flex;
  justify-content: center;
  align-items: center;
}

.confirmed-booking h1 {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 0;
}