.heroContainer {
    background-color: #495E57;
    height: 80px;
    padding: 2%;
}

.title {
    font-size: 2rem;
    color: #F4CE14;
    margin-left: 5%;
    margin-top: 0;
    margin-bottom: 0;
}

.subTitle {
    font-size: 1.5rem;
    color: white;
    margin-left: 5%;
    margin-top: 0;
}